body {
    background-color: #DB7093;
}

.painel {
    margin: auto;
    background-color: white;
    width: 500px;
    height: 570px;
    border-radius: 20px;
    text-align: center;
    padding-top: 50px;
    font-family: 'Times New Roman', Times, serif;
}

.foto {
    border-radius: 20px;
    margin: auto;
}

#sim {
    height: 40px;
    width: 60px;
    background-color: rgb(245, 208, 242);
    border: 2px solid white;
    border-radius: 10px;
    color: rgb(61, 56, 56);
    margin-left: -80px;
}

#nao {
    position: absolute;
    height: 40px;
    width: 60px;
    background-color: rgb(245, 208, 242);
    border: 2px solid white;
    border-radius: 10px;
    color: rgb(61, 56, 56);
    margin-left: 10px;
}