body {
    background-color: #DB7093;
}

.painel {
    margin: auto;
    background-color: white;
    width: 500px;
    height: 500px;
    border-radius: 20px;
    text-align: center;
    padding-top: 50px;
    font-family: 'Times New Roman', Times, serif;
}